h1, h2 {
                text-align: center;
            }

            #calendar {
                width: 100%;
                border-collapse: collapse;
            }
            #calendar th {
                width: 14%;
                padding: 10px;
                background-color: #dadada;
            }
            #calendar td {
                text-align: center;
                padding: 10px;
                border: 1px solid black ;
            }
            /*#calendar th:first-child, #calendar td:first-child { */
            #calendar tr > *:first-child {
                color: red;
            }
            /*#calendar td:last-child, #calendar th:last-child { */
            #calendar tr > *:last-child {
                color: blue;
            }
            img {
                width: 100%;
            }